terminology {
    background: lightsalmon;
}
pre code {
    font-family: monospace;
    background: lightblue;
    font-size: 1.3em;
    display: inline-block;
    margin-left: 10px;
    padding: 20px;
}

body {
    font-family: Baskerville, Arial, Helvetica;
    margin: 40px auto;
    width: 80%;
}


